body{
    background-color: #ffff00;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{   
    margin-left: 5px;
    padding: 0px 10px;    
    font-weight: bold;
}


nav li a {
    text-decoration: none;    
}

nav button{
    background-color: inherit;
    color: #28324B;
    font-size: 20px;   
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border: none;
}

nav button:hover{
    background-color: #ED5557;
    color: white;
}

.intro{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #28324B;
}

#logo{
    height: 60px;
}

header h2{
    margin-right: 750px;
    color: #28324B;
}
h3{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #28324B 
}

p{
    font-size: 22px;
}


.latest{
    width: 80%;
    margin: 0 auto;    
    text-align: center;
    margin-top: 10px;
    
}

.song-card{   
    width: 390px;  
    background-color: #28324B;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 10px;
}

.latest-songs{
    display: flex;
    width: 1378px;
    margin: 0 auto;    
}

.latest h2{
    color: #28324B;
}



.album-art{
    width: 363px;
    height: 252px;    
    margin: 0 auto; 
    border-radius: 15px;
    text-align: center;     
}

.album-art img{
    width: 363px;
    height: 252px;
    border-radius: 15px;
}

.song-title, .artist-name{
    color: #ffff00; 
    background: inherit;  
}

.song-details h2{
    color: white;
    background-color: #28324B;
    font-size: 18px;
    margin-bottom: 10px;
}



.song-details a, br{
    background: inherit;  
    width: 100%;
}

.listen-button{
    border: none;
    background: inherit;  
    background-color: #ED5557;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;
}

.awards{    
    width: 1378px;
    margin: 0 auto;
    
}

.awards h2{
    text-align: center;
    color: #28324B;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;    
}

th{
    color: #ED5557;
}

td{
    color: #ffff00;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #28324B;
    border-radius: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.video-player{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

video{
    border-radius: 15px;
}

